
#tableElement{
      font-family: "Georgia", Times, serif;
      font-color:"blue";
}


#example1 {
  background: url(download.jpg) left top no-repeat, url(robot.jpg) right bottom no-repeat;
  background-size: contain, contain;
}


.div1 {
  border: 5px solid black;
  height: 220px;
  width: 500px;
  
}




