p{
      color: blue;
      font-size: 20px;
      
           
   }
.serif{
      font-family: "Georgia", Times, serif;
}


#example1 {
  background: url(download.jpg) left top no-repeat, url(robot.jpg) right bottom no-repeat;
  background-size: contain, contain;
}


.div1 {
  border: 10px solid black;
  height: 300px;
  width: 700px;
  
}




